@import "../variables";

.BCN-landingPage{
  height:100%;
}

.BCN-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.BCN-cards-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.BCN-container-header{
  font-size: 50pt;
  text-shadow: 3px 7px 16px rgb(31, 31, 31);
  color: #ffffff;
}

.BCN-container-cards{
  cursor: pointer;
  margin-bottom: 5%;
  background: #fff;
  height: 225px;
  width: 225px;
  min-height: 225px;
  min-width: 225px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: $fastTransition;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  align-items: center;
  color: #fff;
  user-select: none;
  border-radius: 3px;
  overflow: hidden;
}

.BCN-container-cards:hover{
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.BCN-container-card-text{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.70);
  font-size: 34pt;
  transition: $midTransition;
}

.BCN-container-card-text:hover{
  font-size: 35pt;

  background: rgba(0, 0, 0, 0.20);
}





.BCN-container-innerPage-cards{
  flex: 0 1 20%;
  cursor: pointer;
  margin-bottom: 5%;
  margin: 0px 20px 5% 10px;
  background: #fff;
  height: 70px;
  width: 160px;
  min-height: 70px;
  min-width: 160px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  color: #fff;
  user-select: none;
  font-size: 10pt;
  border-radius: 40px;
  overflow: hidden;
}

.BCN-container-innerPage-card-text{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10pt;
  transition: all 0.5s
}

.BCN-container-innerPage-card-text:hover{
  font-size: 16pt;
}

.BCN-container-innerPage-cards:hover{
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.BCN-cards-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}