html,
body {
  height: 100%;
  background: #ecececbd;
  margin: 0px;
  padding: 0px;
  box-shadow: inset 0px 1px 210px -82px rgba(0,0,0,0.33);
  font-family: 'Rubik', sans-serif;
}
#root{
  height: 100%;
}

